.edit-styles-area {
    text-align: center;
    grid-gap: 10px;
}

.popup {
    z-index: 1000 !important;
}

.ea-dropdown-area {
    text-align: center;
}

.no-selection {
    background-color: white;
    border: 2px steelblue dashed;
    color: steelblue;
}