.one-column {
    display: grid;
    grid-template-columns: 100%;
}

.two-column {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: 49% 49%;
}

.three-column {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: 32% 32% 33%;
}